global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Scrape Prometheus itself
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  # Scrape the server metrics
  - job_name: "node"
    static_configs:
      - targets: ["node-exporter:9100"]

  # (Optional) Later you will add your Go services here, for example:
  # - job_name: "api-gateway"
  #   static_configs:
  #     - targets: ["koja-api-gateway:2112"]
